doctype html
html

  //- Metadata
  head
    title Weather Forecast
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  //- Forecasting content
  body
    block content