extends layout

block content

    //- Container
    div(class="wrapper")

        //- Search Section
        search
            form
                input(class="searchbar transparent" id="search" type="text" placeholder="Country or City")
                input(class="button transparent" id="button" type="submit" value="GO")
        
        //- Forecast container
        div(class="panel")
        
            //- City searched for
            h2(class="city" id="city")

            //- Forecast info
            div(class="weather" id="weather")

                div(class="group secondary")
                    h3(id="dt")
                    h3(id="description")
                
                div(class="group secondary")
                    h3(id="wind")
                    h3(id="humidity")
                
                div(class="temperature" id="temperature")
                    h1(class="temp" id="temp")
                        i(id="condition")
                        span(id="num")
                        a(class="fahrenheit active" id="fahrenheit" href="#") &deg;F
                        span(class="divider secondary") |
                        a(class="celsius" id="celsius" href="#") &deg;C
                
                div(class="forecast" id="forecast")