extends layout

block content

    //- Search form
    form(action="get")

        //- Text input
        input(type="text" class="search" placeholder="City or Country")
        
        //- Suggestions for autocompletition
        ul(class="suggestions")
            //- li Filter for a city
            //- li or a state
    
    //- JavaScript files (JQuery + Client Routines)
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/javascripts/main.js")