* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

body {
    text-align: center;
    font-family: Roboto, sans-serif;
    position: relative;
    min-height: 100%;
    padding-bottom: 250px;
    background-color: #feffff;
    color: #feffff;
}

header {
    color: #feffff;
    background-color: #444c5c;
    padding: auto;
}

h1 {
 margin:0;
}

#top {
    font-size: 12px;
    background-color: #2b3343;
}

#featuresSec {
 font-size: 12px;
    color:#444c5c;
}

#userInput {
    border: none;
    border-bottom: 1px solid #444c5c;
}

#goButton {
    width: 100px;
    border: none;
    background-color: #444c5c;
    color: #feffff;
    transition-duration: 0.3s;
}

#goButton:hover {
    background-color: #78a5a3;
}

#weatherDiv,
#forecastDiv {
    background-color: #78a5a3;
}

#cf {
    color: #feffff;
    text-decoration: none;
}

#cf:hover{
    transition-duration: 0.3s;
    color: #444c5c;
    text-decoration: none;
}

.selected {
    color: #feffff;
    font-weight: bold;
    transition-duration: 0.3s;
}

.unselected {
    font-weight: normal;
    font-size: 20px;
    color: #444c5c;
    transition-duration: 0.3s;
}

#location {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

#icon {
    text-align: right;
}

#primaryWeatherDiv {
    text-align: right;
}

#secondaryWeatherDiv {
    text-align: left;
}

p {
    padding: 0;
    margin: 0;
}

.forecast {
    margin: auto;
}

footer {
    background-color: #444c5c;
    color: #feffff;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#credits {
    font-size:12px;
}